<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>demandeimpression</display-name>
    <servlet-name>demandeimpression</servlet-name>
    <servlet-class>SERVLET.demandeimpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demandeimpression</servlet-name>
    <url-pattern>/demandeimpression</url-pattern>
  </servlet-mapping>
  <display-name>gestion d'impression</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>demande</display-name>
    <servlet-name>demande</servlet-name>
    <servlet-class>controller.demandeimpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demande</servlet-name>
    <url-pattern>/demande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionController</display-name>
    <servlet-name>InscriptionController</servlet-name>
    <servlet-class>controller.InscriptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionController</servlet-name>
    <url-pattern>/InscriptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailimpressionController</display-name>
    <servlet-name>detailimpressionController</servlet-name>
    <servlet-class>controller.detailimpressionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailimpressionController</servlet-name>
    <url-pattern>/detailimpressionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>matiereController</display-name>
    <servlet-name>matiereController</servlet-name>
    <servlet-class>controller.matiereController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matiereController</servlet-name>
    <url-pattern>/matiereController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DemandeImpressionServlet</servlet-name>
    <servlet-class>controller.DemandeImpression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandeImpressionServlet</servlet-name>
    <url-pattern>/DemandeImpression</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteMatiereController</display-name>
    <servlet-name>deleteMatiereController</servlet-name>
    <servlet-class>controller.deleteMatiereController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMatiereController</servlet-name>
    <url-pattern>/deleteMatiereController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>groupController</display-name>
    <servlet-name>groupController</servlet-name>
    <servlet-class>controller.groupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupController</servlet-name>
    <url-pattern>/groupController</url-pattern>
  </servlet-mapping>
</web-app>